<div class="propery-searchSection">
	<div class="container-fluid mainWrapper">
		<form method="POST" action="javascript:void(0)">
			<fieldset>
				<div class="row">
					<div class="col-md-3">
						<div class="searchStack">
							<div class="iconHolder"> <i class="fa fa-map-marker" aria-hidden="true"></i>
								<div class="dropdown bootstrap-select form-control">
									<div class="dropdown bootstrap-select form-control">
										<select class="form-control selectpicker" tabindex="-98">
											<option>Select Your City</option>
											<option>Your Country Abc</option>
											<option>Your Country abcd</option>
										</select>
										<button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Select Your City">
										<div class="filter-option">
											<div class="filter-option-inner">
												<div class="filter-option-inner-inner">Select Your City</div>
													
											</div>
												
										</div>
										</button>
										<div class="dropdown-menu " role="combobox">
											<div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
												<ul class="dropdown-menu inner show"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					<div class="col-md-3">
						<div class="searchStack">
							<div class="iconHolder"> <i class="fa fa-map-marker" aria-hidden="true"></i>
								<div class="dropdown bootstrap-select form-control">
									<div class="dropdown bootstrap-select form-control">
										<select class="form-control selectpicker" tabindex="-98">
											<option>Select Your City</option>
											<option>Your Country Abc</option>
											<option>Your Country abcd</option>
										</select>
									<button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Select Your City">
										<div class="filter-option">
											<div class="filter-option-inner">
												<div class="filter-option-inner-inner">Select Your City</div>
													
											</div>
												
										</div>
									</button>
									<div class="dropdown-menu " role="combobox">
										<div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
											<ul class="dropdown-menu inner show"></ul>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					
					
					<div class="col-md-6">
						<div class="textField">
							<input type="text" class="form-control" placeholder="Enter Neighborhood or Building e.g. Ocean Heights">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle">Select Bedrooms:</span>
							<div class="qty"> <span class="minus bg-dark">-</span>
								<input type="number" class="count" name="bedroom_qty" value="1" placeholder="No of Bedrooms">
								<span class="plus bg-dark">+</span> </div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Select Bath:</span>
							<div class="qty"> <span class="minus2 bg-dark">-</span>
								<input type="number" class="count2" name="bath_qty" value="1">
								<span class="plus2 bg-dark">+</span> </div>
						</div>
					</div>
						<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Select Buy Type:</span>
							<div class="iconHolder">
								<div class="dropdown bootstrap-select form-control">
									<div class="dropdown bootstrap-select form-control">
										<select class="form-control selectpicker" tabindex="-98">
											<option>Rent</option>
											<option>Rent Abc</option>
											<option>Rent abcd</option>
										</select>
										<button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Rent">
											<div class="filter-option">
												<div class="filter-option-inner">
													<div class="filter-option-inner-inner">Rent</div>
														
												</div>
													
											</div>
										</button>
										<div class="dropdown-menu " role="combobox">
											<div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
												<ul class="dropdown-menu inner show"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
<!--						<div class="searchStack"><span class="sidebarTitle"> Select Time: </span>
							<div class="iconHolder spl">

								 <select class="form-control selectpicker">
																				<option>Time Period</option>
																				<option>Abc</option>
																				<option> abcd</option>
																			</select>
								<div class="dropdown bootstrap-select show-tick"><div class="dropdown bootstrap-select show-tick"><select class="selectpicker" multiple="" data-live-search="true" data-actions-box="true" tabindex="-98">
											<select class="selectpicker " multiple data-live-search="true">
											<option>Time Period</option>
											<option>abc</option>
											<option>def</option>
											<option>ghi</option>
											<option>jkl</option>
										</select><button type="button" class="btn dropdown-toggle bs-placeholder btn-light" data-toggle="dropdown" role="button" title="Nothing selected"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Nothing selected</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search"></div><div class="bs-actionsbox"><div class="btn-group btn-group-sm btn-block"><button type="button" class="actions-btn bs-select-all btn btn-light">Select All</button><button type="button" class="actions-btn bs-deselect-all btn btn-light">Deselect All</button></div></div><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div><button type="button" class="btn dropdown-toggle bs-placeholder btn-light" data-toggle="dropdown" role="button" title="Time Period"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Time Period</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search"></div><div class="bs-actionsbox"><div class="btn-group btn-group-sm btn-block"><button type="button" class="actions-btn bs-select-all btn btn-light">Select All</button><button type="button" class="actions-btn bs-deselect-all btn btn-light">Deselect All</button></div></div><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
							</div>
						</div>-->
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Select Price: </span>
							<div class="row">
								<div class="col-md-6">
									<div class="textField">
										<input type="text" class="form-control" placeholder="Min. Price">
									</div>
								</div>
								<div class="col-md-6">
									<div class="textField">
										<input type="text" class="form-control" placeholder="Max. Price">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row manage-icons collapse advanceSection">
<!--					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Select Buy Type:</span>
							<div class="iconHolder">
								<div class="dropdown bootstrap-select form-control">
									<div class="dropdown bootstrap-select form-control">
										<select class="form-control selectpicker" tabindex="-98">
											<option>Rent</option>
											<option>Rent Abc</option>
											<option>Rent abcd</option>
										</select>
										<button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Rent">
											<div class="filter-option">
												<div class="filter-option-inner">
													<div class="filter-option-inner-inner">Rent</div>
														
												</div>
													
											</div>
										</button>
										<div class="dropdown-menu " role="combobox">
											<div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
												<ul class="dropdown-menu inner show"></ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>-->
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Your Amenities:</span>
							<div class="iconHolder">
								<div class="dropdown bootstrap-select form-control"><div class="dropdown bootstrap-select form-control"><select class="form-control selectpicker" tabindex="-98">
											<option>Air Conditioning</option>
											<option>Abc</option>
											<option>abcd</option>
										</select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Air Conditioning"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Air Conditioning</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Air Conditioning"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Air Conditioning</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Frunished? </span>
							<div class="iconHolder">
								<div class="dropdown bootstrap-select form-control"><div class="dropdown bootstrap-select form-control"><select class="form-control selectpicker" tabindex="-98">
											<option>Yes</option>
											<option>No</option>
											<option> Between</option>
										</select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Yes"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Yes</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="button" title="Yes"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Yes</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="searchStack"><span class="sidebarTitle"> Select Area: </span>
							<div class="row">
								<div class="col-md-6">
									<div class="textField">
										<input type="text" class="form-control" placeholder="Min Area">
									</div>
								</div>
								<div class="col-md-6">
									<div class="textField">
										<input type="text" class="form-control" placeholder="Max Area">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row manage-icons">
					<div class="search-btn col-md-3 col-lg-2">
						<input class="search-me" type="submit" value="Search Now">
					</div>
					<div class="col-md-3 col-lg-2">
						<div class="textField searchBtnsAction">
							<button type="reset" class="btn"> <i class="fa cross-icon" aria-hidden="true"></i> Reset search </button>
						</div>
					</div>
					<div class="col-md-3 col-lg-2">
						<div class="textField searchBtnsAction">
							<button id="save_search" class="btn"> <i class="fa fa-heart-o" aria-hidden="true"></i> save search </button>
						</div>
					</div>
					<div class="col-md-3 col-lg-6">
						<span class="advnc-search">
							<a id="advnce-ser" data-toggle="collapse" data-target=".advanceSection" href="javascript:;">
								<i class="fa fa-plus-circle"></i>Advance Search
							</a>
						</span>
					</div>
				</div>
			</fieldset></form></div>
</div>

	<script>
$( "#save_search" ).click(function( event ) {
  event.preventDefault();
});
</script>