<div class="col-md-4 col-lg-3">
	<div class="sidebarSearch">
		<div class="holder">
			<span class="searchTitle"> Search </span>
			<form method="get" action="<?php echo base_url('listing/search'); ?>">
				<fieldset>
					<div class="searchStack">
						<span class="sidebarTitle"> Select Location </span>
						<div class="iconHolder">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<select class="form-control  country_select_child">
								<option value=''>---Select Country---</option>

								<?php foreach ($all_cuntry as $single_cuntry): ?>

									<option
										value="<?php echo $single_cuntry->id; ?>"><?php echo $single_cuntry->name; ?></option>

								<?php endforeach; ?>
							</select>
						</div>
						<div class="iconHolder">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<div class="col-sm-12 countryselect2 removespecial">

								<select name="state_selected" id="state_selected"
										class="form-control  select2_demo_3 form-control select2-hidden-accessible"
										tabindex="-1" aria-hidden="true"">

								<!-- appending through Ajax funciton of get_state_ajax -->

								</select>

							</div>
						</div>
						<div class="iconHolder">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<select id="city_selection" class="form-control selected_city"
									name="selected_city">

								<!-- appending through Ajax funciton of get_subchild_ajax -->
							</select>

						</div>
					</div>
					<div class="searchStack">
						<span class="sidebarTitle"> Select category </span>
						<div class="iconHolder">
							<i class="fa fa-tag" aria-hidden="true"></i>
							<select name="selected_category" id="volgo_cats"
									class="form-control cat_select_child">
								<option value=''>---Select Category---</option>
								<?php foreach ($all_cats as $single_cat): ?>


									<option
										value="<?php echo $single_cat->id; ?>"><?php echo $single_cat->name; ?></option>

								<?php endforeach; ?>
							</select>
						</div>
						<div class="iconHolder">
							<i class="fa fa-tag" aria-hidden="true"></i>
							<select id="show_child_cat" class="form-control get_from_db"
									name="selected_sub_category">

								<!-- appending through Ajax funciton of get_subchild_ajax -->
							</select>

						</div>
						<div class="iconHolder">
							<i class="fa fa-tag" aria-hidden="true"></i>
							<div class="made_append">

							</div>
						</div>
					</div>
					<div class="searchStack">
						<div class="textField">
							<input type="text" class="form-control" placeholder="type keyword here">
						</div>
						<div class="textField searchMe">
							<input class="search-me" type="submit" value="search Now">
						</div>
						<div class="textField searchBtnsAction">
							<button class="btn">
								<i class="fa cross-icon" aria-hidden="true"></i>
								Reset
							</button>
							<button class="btn">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								save
							</button>
						</div>
					</div>
		</div>

		</form>
	</div>
</div>

